@font-face {
    font-family: opensans;
    src: url(../res/font/OpenSans/OpenSans-Medium.ttf);
}
body{
    padding: 0;
    margin: 0;
    font-family: opensans;
    background-image: url("../res/pictures/xmas.jpg");
}
header{
    color:white;
    width: 100%;
    height: 200px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.jobb{
    margin-left: 15%;
    
}
.bal{
    margin-right: 15%;
}
.bal p{
    padding: 10px 30px 10px 30px;
    font-size: 36pt;
    background-color: rgba(128, 128, 128, 0.9);
}
header div a{
    padding: 30px;
    font-weight: bold;
    font-size: 24pt;
    color:white;
    text-decoration: none;
    backdrop-filter: blur(1px);
}
header div a:hover{
    transition: 0.6s;
    background-color: rgba(0, 0, 0, 0.5);
}

nav{
    background-color: gray;
    color:white;
    height: auto;
    width: auto;
    text-align: center;
}
nav ul{
    display: inline-flex;
    font-variant:small-caps;
    font-size: 16pt;
}
nav ul li{
    list-style: none;
    
    
}
nav ul li a:hover{
    transition: 0.5s;
    background-color: black;
    padding:10px 60px 10px 60px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 40px 10px 40px;
    
}
main{
    height: auto;
    width: 100%;
    background-color: white;
    display: inline-block;   
}

main section div{
    max-width: 1200px;   
    width: auto;
    height: auto;
    margin-left: 40px;
    background-color: rgba(128, 2, 8, 0.1);
}
main section div h2,p{
    padding: 10px;
}
main aside{
    display: block;
    float: right;
}
main aside div{
    height: auto;
    width: 600px;
    background-color: rgba(128, 2, 8, 0.1);
    margin-right: 40px;
}
main aside div h3,p{
    padding: 10px;
}
main aside img{
    width: 85%;
    height: 85%;
    margin-left: 40px;
}
.space{
    height: 100px;
}
footer{
    position: fixed;
    bottom: 0;
    height: auto;
    width: 100%;
    background-color: gray;
    color: white;   
}
footer ul{
    display: inline-flex;
    margin-top: 30px;
}
footer ul li{
    padding: 0px 10px 0px 10px;
    list-style: none;
    font-size: 10pt;
}
footer ul li a{
    color: white;
    text-decoration: none;
}
footer p{
    display: inline-flex;
    float: right;
    margin-right: 100px;
}
.galeria{
    width: 100%;
    height: auto;
    display: inline-flex;
    justify-content:space-around;
    flex-wrap: wrap;
}
.galeriakep{
    
    max-width: 100%;
    height: 320px;
    margin: 20px;
    border: 1px solid gray;
}
.galeriakep:hover{
    transform: scale(1.1);
    transition: 0.4s;
}
.termekbox{
    max-width: 300px;
    max-height: 5000px;
    width: auto;
    height: auto;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 10px 20px 10px;
    padding: 20px;
    background-color: rgba(132, 23, 84, 0.2);
}
.termekbox h2{
    margin-left: 20px;
    
}
.termek{
    text-align: justify;
    text-justify:inter-word;
}
.text{
    max-height: 700px;
    height: auto;
    
}
.termek img{
    display: block;
    margin: auto;
    max-width: 300px;
    max-height: 50%;
    width: auto;
    height: auto;
}
.termekbox a{
    font-weight: bold;
    text-decoration: none;
    color: black;
}
